{{> loader}}
{{> header}}
<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="/assets/images/profile-image.png" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">

                <p></p>
                <span></span>


            </div>
        </div>

        <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">

            <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/update-hodProfile/{{user._id}}"><i
                        class="material-icons">account_box</i>{{user.name}}</a></li>
            <li class="no-padding"><a class="waves-effect waves-grey" href="/users/changePassword"><i
                        class="material-icons">settings_input_svideo</i>Change Password</a></li>
            <li class="no-padding">
                <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>Leaves<i
                        class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>



                        <li><a href="/admin/leaves1/{{user.department}}">Leave Request</a></li>


                    </ul>
                </div>
            </li>



            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/admin/signout"><i class="material-icons">exit_to_app</i>Sign
                    Out</a>
            </li>


        </ul>
        <div class="footer">
            <p class="copyright"><a href="http://simat.ac.in/">SIMAT e-GOVERNANCE</a>©</p>

        </div>
    </div>
</aside>





<main class="mn-inner">
    <div class="row">

        <div class="page-title" style=" margin-left: 20%;   font-weight: bold;">Leave Details</div>
    </div>
    <div class="col s12 m12 l6">
        <div class="card" style="margin-left: 20%;">
            <div class="card-content">
                <span class="card-title">Leave Details</span>


                <div class="responsive-table">
                    <table id="example" class="display">
                        <tbody>
                            <tr>
                                <td><strong>Faculty Name:</strong></td>
                                <td>{{leaves.name}}</td>
                                <td><strong>Faculty Code:</strong></td>
                                <td>{{leaves.id}}</td>
                            </tr>
                            <tr>
                                <td><strong>Leave Type:</strong></td>
                                <td>{{leaves.leavetype}}</td>
                                <td><strong>Leave Dates:</strong></td>
                                <td><strong>From :</strong> {{leaves.fromdate}}{{leaves.halfdaydate}}<br><strong>To
                                        &emsp; :</strong> {{leaves.todate}}{{leaves.halfdaydate}}</td>
                            </tr>
                            <tr>
                                <td><strong>Leave Description:</strong></td>
                                <td colspan="3">{{leaves.description}}</td>
                            </tr>
                            <tr>
                                <td><strong>Alternate Arrangement:</strong></td>
                                <td colspan="3">{{#each leaves.finalarrangement}}{{this}}<br>{{/each}}</td>
                            </tr>
                            {{#if leaves.hodComment}}
                            <tr>
                                <td><strong>HOD Comment:</strong></td>
                                <td colspan="3">{{leaves.hodComment}}</td>
                            </tr>
                            {{/if}}
                            {{#if leaves.princiComment}}
                            <tr>
                                <td><strong>Principal Comment:</strong></td>
                                <td colspan="3">{{leaves.princiComment}}</td>
                            </tr>
                            {{/if}}
                            {{#if leaves.hrComment}}
                            <tr>
                                <td><strong>HR Comment:</strong></td>
                                <td colspan="3">{{leaves.hrComment}}</td>
                            </tr>
                            {{/if}}



                            <tr>


                                <script>
                                    function validateForm(element) {
                                        var url = element.getAttribute("data-url");
                                        var comment = document.getElementById("text").value;
                                        if (comment == "") {
                                            alert("Please enter a comment before " + element.innerHTML.trim() + "ing.");
                                            return false;
                                        }
                                        else {
                                            var dataUrl = url + '/' + encodeURIComponent(comment);
                                            element.setAttribute("data-href", dataUrl);
                                            location.href = element.getAttribute("data-href");
                                        }
                                    }
                                </script>




                                {{#if user.hod}}
                                {{#compare leaves.hodStatus undefined}}

                                <td ><strong>Add Comment : </strong></td>
                                <td colspan="5">
                                    <textarea id="text" onchange="[...document.getElementsByClassName('action')].forEach(i =>{
                                            i.setAttribute('data-href', i.dataset.url+'/'+encodeURIComponent(this.value));
                                        })" required></textarea>
                                </td>

                                <td colspan="5">
                                    <a onclick="validateForm(this)" data-url="/admin/accept-leave/{{leaves._id}}"
                                        class="btn btn-primary action" style="font-size: 9px; padding: 0 1rem;">Accept
                                    </a>
                                    <a onclick="validateForm(this)" data-url="/admin/reject-leave/{{leaves._id}}"
                                        class="btn btn-primary action"
                                        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject
                                    </a>
                                </td>
                                {{/compare}}
                                {{else if user.principal}}
                                {{#compare leaves.princiStatus undefined}}

                                <td ><strong>Add Comment : </strong></td>
                                <td colspan="5">
                                    <textarea id="text" onchange="[...document.getElementsByClassName('action')].forEach(i =>{
                                            i.setAttribute('data-href', i.dataset.url+'/'+encodeURIComponent(this.value));
                                        })" required></textarea>
                                </td>

                                <td colspan="5">
                                    <a onclick="validateForm(this)" data-url="/admin/accept-princiLeave/{{leaves._id}}"
                                        class="btn btn-primary action" style="font-size: 9px; padding: 0 1rem;">Accept
                                    </a>
                                    <a onclick="validateForm(this)" data-url="/admin/reject-princiLeave/{{leaves._id}}"
                                        class="btn btn-primary action"
                                        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject
                                    </a>
                                </td>
                                {{/compare}}
                                {{else if user.hr}}
                                {{#compare leaves.hrStatus undefined}}

                                <td ><strong>Add Comment : </strong></td>
                                <td colspan="5">
                                    <textarea id="text" onchange="[...document.getElementsByClassName('action')].forEach(i =>{
                                            i.setAttribute('data-href', i.dataset.url+'/'+encodeURIComponent(this.value));
                                        })" required></textarea>
                                </td>

                                <td colspan="5">
                                    <a onclick="validateForm(this)" data-url="/admin/accept-hrLeave/{{leaves._id}}"
                                        class="btn btn-primary action" style="font-size: 9px; padding: 0 1rem;">Accept
                                    </a>
                                    <a onclick="validateForm(this)" data-url="/admin/reject-hrLeave/{{leaves._id}}"
                                        class="btn btn-primary action"
                                        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject
                                    </a>
                                </td>
                                {{/compare}}
                                {{/if}}




                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>