{{> loader}}
{{> header}}
<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="/assets/images/profile-image.png" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">

                <p></p>
                <span></span>


            </div>
        </div>

        <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">

            <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/update-hodProfile/{{user._id}}"><i
                        class="material-icons">account_box</i>{{user.name}}</a></li>
            <li class="no-padding"><a class="waves-effect waves-grey" href="/users/changePassword"><i
                        class="material-icons">settings_input_svideo</i>Change Password</a></li>
            <li class="no-padding">
                <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>Leaves<i
                        class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>



                        <li><a href="/admin/leaves1/{{user.department}}">Leave Request</a></li>


                    </ul>
                </div>
            </li>



            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/admin/signout"><i class="material-icons">exit_to_app</i>Sign
                    Out</a>
            </li>


        </ul>
        <div class="footer">
            <p class="copyright"><a href="http://simat.ac.in/">SIMAT e-GOVERNANCE</a>©</p>

        </div>
    </div>
</aside>
{{!--
<div style="margin-left: 20%;">
    {{#each leaves.finalarrangement}}{{this}}<br>{{/each}}
    {{leaves.name}}<br>
    {{#each totalLeave}}
    {{this.totalLeaves}}
    {{/each}}<br>


    {{#if user.hod}}
    <a href="/admin/accept-leave/{{leaves._id}}" class="btn btn-primary" style="font-size: 9px; padding: 0 1rem;">Accept
    </a>
    <a href="/admin/reject-leave/{{leaves._id}}" class="btn btn-primary"
        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject
    </a>
    {{else if user.principal}}
    <a href="/admin/accept-princiLeave/{{leaves._id}}" class="btn btn-primary" style="font-size: 9px; padding: 0 1rem;">
        Accept </a>
    <a href="/admin/reject-princiLeave/{{leaves._id}}" class="btn btn-primary"
        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;"> Reject </a>

    {{else if user.hr}}
    <a href="/admin/accept-hrLeave/{{leaves._id}}" class="btn btn-primary"
        style="font-size: 9px; padding: 0 1rem;">Accept </a>
    <a href="/admin/reject-hrLeave/{{leaves._id}}" class="btn btn-primary"
        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject </a>
    {{/if}}

</div> --}}




<main class="mn-inner">
            <div class="row">

                <div class="page-title" style=" margin-left: 20%;   font-weight: bold;">Leave Details</div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card" style="margin-left: 20%;">
                    <div class="card-content">
                    <span class="card-title">Leave Details</span>


                    <table id="example" class="display responsive-table ">


                        <tbody>

                            <tr>
                                <td style="font-size:16px;"> <b>Faculty Name :</b></td>
                                <td>
                                    {{leaves.name}}
                                </td>
                                <td style="font-size:16px;"><b>Faculty Code :</b></td>
                                <td>
                                    {{leaves.id}}
                                </td>

                            </tr>

                            {{!--
                            <tr>
                                <td style="font-size:16px;"><b>SL No:</b></td>
                                <td>
                                    <input style="display: none;" id="serialNo" value="{{leaves._id}}" />
                                    <script>


                                        serial = document.getElementById("serialNo").value;
                                        lastfive = serial.substr(serial.length - 5);
                                        document.getElementById("serialNo").value = lastfive;
                                        document.getElementById("serialNo").style.display = "block";

                                    </script>
                                </td>
                            </tr>
                            --}}

                            {{!--<tr>
                                <td style="font-size:16px;"><b>Email id :</b></td>
                                <td>
                                    <?php echo htmlentities($result->EmailId);?>
                                </td>
                                <td style="font-size:16px;"><b>Contact No. :</b></td>
                                <td>
                                    <?php echo htmlentities($result->Phonenumber);?>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>--}}

                            <tr>
                                <td style="font-size:16px;"><b>Leave Type :</b></td>
                                <td>
                                    {{leaves.leavetype}}
                                </td>
                                <td style="font-size:16px;"><b>Leave Date :</b></td>
                                <td>From : {{leaves.fromdate}}<br>to : {{leaves.todate}}



                            </tr>

                            <tr>
                                <td style="font-size:16px;"><b>Total Leaves Taken:</b></td>
                                <td>
                                    {{#each totalLeave}}
                                    {{this.totalLeaves}}
                                    {{/each}}
                                </td>


                            </tr>

                            {{!--
                            <tr>
                                <td style="font-size:16px;"><b>Commuted Half-Day Leaves:</b></td>
                                <td>
                                    <?php echo htmlentities($result->lv_commuted_half);?>
                                </td>
                                <td style="font-size:16px;"><b>Commuted Full-Day Leaves:</b></td>
                                <td>
                                    <?php echo htmlentities($result->lv_commuted_full);?>
                                </td>
                                <td style="font-size:16px;"><b>Days of Leave:</b></td>
                                <td>
                                    <?php echo htmlentities($result->DayCount);?>
                                </td>
                            </tr>
                            --}}

                            <tr>
                                <td style="font-size:16px;"><b>Leave Description : </b></td>
                                <td colspan="5">
                                    {{leaves.description}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:16px;"><b>Alternate Arranegement : </b></td>
                                <td colspan="5">
                                    {{#each leaves.finalarrangement}}{{this}}<br>{{/each}}
                                </td>

                            </tr>

                            {{!--
                            <tr>
                                <td style="font-size:16px;"><b>Leave Status :</b></td>
                                <td colspan="5">
                                    <?php $stats=$result->Status;
if($stats==1){
?>
                                    <span style="color: green">Approved</span>
                                    <?php } if($stats==2)  { ?>
                                    <span style="color: red">Rejected by HOD</span>
                                    <?php } if($stats==0)  { ?>
                                    <span style="color: blue">Waiting for Approval</span>
                                    <?php } if($stats==4)  { ?>
                                    <span style="color: orange">Application Returned</span>
                                    <?php } if($stats==3)  { ?>
                                    <span style="color: grey">Waiting for Approval from Principal</span>
                                    <?php } if($stats==5) { ?>
                                    <span style="color: red">Rejected by Principal</span>
                                    <?php } ?>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size:16px;"><b>Admin Remark: </b></td>
                                <td colspan="5">
                                    <?php
if($result->AdminRemark==""){
  echo "waiting for Approval";  
}
else{
echo htmlentities($result->AdminRemark);
}
?>
                                </td>
                            </tr>

                            --}}

                            <tr>
                                <td style="font-size:16px;"><b> Action : </b></td>
                                <td colspan="5">


                                    {{#if user.hod}}
                                    <a href="/admin/accept-leave/{{leaves._id}}" class="btn btn-primary"
                                        style="font-size: 9px; padding: 0 1rem;">Accept
                                    </a>
                                    <a href="/admin/reject-leave/{{leaves._id}}" class="btn btn-primary"
                                        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject
                                    </a>
                                    {{else if user.principal}}
                                    <a href="/admin/accept-princiLeave/{{leaves._id}}" class="btn btn-primary"
                                        style="font-size: 9px; padding: 0 1rem;">
                                        Accept </a>
                                    <a href="/admin/reject-princiLeave/{{leaves._id}}" class="btn btn-primary"
                                        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;"> Reject </a>

                                    {{else if user.hr}}
                                    <a href="/admin/accept-hrLeave/{{leaves._id}}" class="btn btn-primary"
                                        style="font-size: 9px; padding: 0 1rem;">Accept </a>
                                    <a href="/admin/reject-hrLeave/{{leaves._id}}" class="btn btn-primary"
                                        style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject </a>
                                    {{/if}}



                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div></main>