{{> loader}}
{{> header}}
{{> nav}}
<main class="mn-inner" style="width: 70%; margin-left: 20%;">

    <form action="/users/applyLeave/{{user._id}}" method="post" id="example-form" onsubmit="return  myFunction22() "
        name="addemp">
        <div class="row" style=" ">
            <div class="col s12">
                <div class="page-title" style="   font-weight: bold;">Leave Application</div>
            </div>
        </div>
        <div class="col s12 m12 l8">
            <div class="card" style=" ">
                <div class="card-content">
                    <form action="/users/applyLeave/{{user._id}}" method="post" id="example-form"
                        onsubmit="return  myFunction22() " name="addemp">
                        <div>
                            <div>
                                <h5>Provide the details below :</h5>
                            </div>
                            <section>
                                <div class="wizard-content">
                                    <div class="row">
                                        <div class="col m12">



                                            <!-- Select Leave Type -->
                                            <div class="input-field col  s12">
                                                <select id="selectval" name="leavetype" autocomplete="off" required>
                                                    <option value="">Select leave type...</option>


                                                    <option value="Casual Leave">Casual Leave</option>

                                                </select>
                                            </div>




                                            <!-- Leave Details -->
                                            <div class="input-field col m6 s12">
                                                <label for="fromdate"></label>
                                                <input id="sree" onchange="adddate()" name="fromdate" type="date"
                                                    class='input-group date' autocomplete="off" required>
                                            </div>

                                            <div class="input-field col m6 s12">
                                                <label for="todate"></label>
                                                <input id="sree2" onchange="adddate()" name="todate" type="date"
                                                    class='input-group date' autocomplete="off" required>

                                            </div>


                                            <div class="input-field col m3 s12">
                                                <label style="display: none ;" id="days">No.of Days</label>
                                                <input style="display: none;" id="sree3" name="" readonly required />
                                                <input style="display: none;" type="number" id="sree4" name="nofdays"
                                                    readonly required />



                                                <input style="display: none;" id="leaves" value="{{totalLeave}}" />



                                            </div>

                                            <script>

                                                function adddate() {
                                                    dat1 = document.getElementById('sree').value;
                                                    dat2 = document.getElementById('sree2').value;
                                                    leave = document.getElementById('leaves').value;
                                                    userid = document.getElementById('userid').value





                                                    date1 = new Date(dat1)
                                                    date2 = new Date(dat2)
                                                    month = date2.getMonth() + 1;



                                                    const diffTime = Math.abs(date2 - date1);
                                                    const diffDays = (Math.floor((date2 - date1) / (1000 * 60 * 60 * 24)) + 1);
                                                    limit = parseFloat('12');
                                                    total = parseFloat(leave)
                                                    nod = parseFloat(diffDays);
                                                    totalLeave = total + nod;
                                                    var x = document.getElementById("sree3");

                                                    x.style.display = "block";

                                                    if (date2 == "Invalid Date") {
                                                        document.getElementById("sree3").value = "Please specify end date "
                                                        document.getElementById("days").style.display = "none"

                                                    } else if (date2 < date1) {
                                                        alert("negative days..");
                                                        document.getElementById('sree2').value = ""
                                                        document.getElementById('sree4').style.display = "none"
                                                        document.getElementById("days").style.display = "none"
                                                    }
                                                    else if (nod === 1 && totalLeave > limit) {

                                                        alert("Casual Leave limit ecxeeded , Total leave =" + total);
                                                        document.getElementById('sree2').value = ""
                                                        document.getElementById('sree4').style.display = "none"
                                                        document.getElementById("days").style.display = "none"
                                                    }
                                                    else if (nod > 1) {


                                                        if (nod === 2 && date1.getMonth() != date2.getMonth() && totalLeave <= limit) {


                                                            fetch('/monthcheck/' + userid + '/' + month).then((res) => {
                                                                if (res.status == 200) {

                                                                    document.getElementById("sree3").style.display = "none"
                                                                    document.getElementById("days").style.display = "contents"
                                                                    document.getElementById("sree4").value = diffDays;
                                                                    document.getElementById("sree4").style.display = "block"

                                                                }
                                                                else {
                                                                    alert("You already applied for a leave this month");
                                                                    document.getElementById('sree2').value = ""
                                                                    document.getElementById('sree').value = ""
                                                                    document.getElementById('sree4').style.display = "none"
                                                                    document.getElementById("days").style.display = "none"
                                                                }
                                                            })

                                                        }

                                                        else {

                                                            alert("You can apply only 1 leave per month");
                                                            document.getElementById('sree2').value = ""
                                                            document.getElementById('sree4').style.display = "none"
                                                            document.getElementById("days").style.display = "none"
                                                        }

                                                    }

                                                    else {
                                                        fetch('/monthcheck/' + userid + '/' + month).then((res) => {
                                                            if (res.status == 200) {

                                                                document.getElementById("sree3").style.display = "none"
                                                                document.getElementById("days").style.display = "contents"
                                                                document.getElementById("sree4").value = diffDays;
                                                                document.getElementById("sree4").style.display = "block"
                                                                document.getElementById("altdate").value = document.getElementById('sree').value;
                                                            }
                                                            else {
                                                                alert("You already applied for a leave this month");
                                                                document.getElementById('sree2').value = ""
                                                                document.getElementById('sree').value = ""
                                                                document.getElementById('sree4').style.display = "none"
                                                                document.getElementById("days").style.display = "none"
                                                            }
                                                        })

                                                    }
                                                }
                                            </script>




















                                            <label></label>
                                            <input style="display: none;" value="{{user.id}}" id="userid" name="id"
                                                type="text">


                                            <div class="input-field col m12 s12">
                                                <label for="birthdate">Description</label>
                                                <textarea id="textarea1" name="description" class="materialize-textarea"
                                                    length="500" required></textarea>
                                            </div>



                                        </div>
                                        <input type="hidden" name="name" value="{{user.name}}">
                                        <input type="hidden" name="department" value="{{user.department}}">







                                    </div>
                                    <div class="input-field col m12 s12">
                                        <h5>ALTERNATE ARRANGEMENT</h5>
                                        <p>(If you have more than one arrangement then you can add it one by one)</p>
                                        <br>
                                        <br>
                                    </div>


                                </div>

                            </section>
                        </div>
                    </form>

                    <form id="myForm" name="altern">
                        <div class="input-field col m4 s12">
                            <h6>Date</h6>
                            <input id="altdate" name="alterdate" type="date"> <br> <br>
                        </div>
                        <div class="input-field col m8 s12">
                            <h6>Subject</h6>
                            <input type="text" placeholder="Subject" required><br> <br>
                        </div>
                        <div class="input-field col m4 s12">
                            <h6>Period</h6>
                            <input type="text" placeholder="Period" required><br> <br>
                        </div>
                        <div class="input-field col m4 s12">
                            <h6>Semester</h6>
                            <input type="text" placeholder="Semester" required><br><br>
                        </div>
                        <div class="input-field col m4 s12">
                            <h6>Branch</h6>
                            <input type="text" placeholder="Branch" required><br><br>
                        </div>
                        <div class="input-field col m12 s12">
                            <h6>Alternate Faculty: </h6>
                            <input type="text" placeholder="Alternate faculty" required>
                        </div>
                    </form>

                    <button style="margin-top: 10px;" onclick="myFunction()" type="button" class="btn btn-primary">ADD
                        FACULTY</button>
                    <button id="butid" style="background-color: brown;margin-top:8px" onclick="myFunctionSree()"
                        type="button" class="btn btn-warning">SHOW & HIDE ARRANGEMENTS</button>
                    <script>
                        let date = []
                        let sub = []
                        let period = []
                        let sem = []
                        let branch = []
                        let altf = []
                        let arrangement = []

                    </script>

                    <script>
                        function addmore() {
                            document.getElementById("myForm").elements[0].value = ""
                            document.getElementById("myForm").elements[1].value = ""
                            document.getElementById("myForm").elements[2].value = ""
                            document.getElementById("myForm").elements[3].value = ""
                            document.getElementById("myForm").elements[4].value = ""
                            document.getElementById("myForm").elements[5].value = ""


                        }



                        function myFunction() {
                            if (document.getElementById("myForm").elements[0].value != "" &&

                                document.getElementById("myForm").elements[1].value != "" &&
                                document.getElementById("myForm").elements[2].value != "" &&
                                document.getElementById("myForm").elements[3].value != "" &&
                                document.getElementById("myForm").elements[4].value != "" &&

                                document.getElementById("myForm").elements[5].value != "") {
                                let a = "" + document.getElementById("myForm").elements[0].value; +"'"
                                let b = "" + document.getElementById("myForm").elements[1].value; +"'"
                                let c = "" + document.getElementById("myForm").elements[2].value; +"'"
                                let d = "" + document.getElementById("myForm").elements[3].value; +"'"
                                let e = "" + document.getElementById("myForm").elements[4].value; +"'"
                                let f = "" + document.getElementById("myForm").elements[5].value; +"'"

                                date.push(a)
                                sub.push(b)
                                period.push(c)
                                sem.push(d)
                                branch.push(e)
                                altf.push(f)

                                arrangement.push("Date :" + a + "    " + "Subject :" + b + "    " + "Period :" + c + "    " + "Semester :" + d + "    " + "Branch :" + e + "    " + "Alternate Faculty :" + f + "")

                                embedElements()
                                myFunction2()



                                addmore()


                            }

                            else {
                                alert("PLEASE FILL ALL COLUMNS :)")
                            }
                        }
                    </script> <br> <br>






                    <div id="result"></div>
                    <textarea hidden id="finalarrangement" name="finalarrangement"></textarea>


                    <script>
                        {

                            function embedElements() {
                                document.getElementById('result').innerHTML = "";
                                arrangement.forEach(el => {
                                    let i = 0
                                    document.getElementById('result').innerHTML += `<textarea id=` + i + `>${el}</textarea><br />`;

                                    i = i + 1

                                });

                            };
                        }
                        const myFunction2 = () => {
                            let text = "";
                            for (let i = 0; i < arrangement.length; i++) {
                                text += arrangement[i] + "\n";
                            }
                            document.getElementById("finalarrangement").innerHTML = text;
                        }

                        function myFunctionSree() {
                            var x = document.getElementById("result");
                            if (x.style.display === "none" && arrangement.length !== 0) {
                                x.style.display = "block";
                                document.getElementById("butid").innerHTML = "HIDE ARRANGEMENT"


                            } else if (arrangement.length == 0) {
                                x.style.display = "none";
                                alert("PLEASE ADD ALTERNATE ARRANGEMENTS :)")
                            }
                            else {
                                x.style.display = "none";
                                document.getElementById("butid").innerHTML = "SHOW AND EDIT ARRANGEMENT"
                            }
                        }
                    </script>


                    <button type="submit" class="waves-effect waves-light btn indigo m-b-xs">Apply Leave</button>
                </div>
            </div>
        </div>

    </form>



    <form style="display: none;" id="unlockRForm" method="post" action="/users/unlockRequest/{{user._id}}">
        <div class="row" style=" ">

            <div class="col s12">
                <div class="page-title" style="   font-weight: bold;">Permission Request</div>
            </div>
        </div>
        <div class="col s12 m12 l8">
            <div class="card" style=" ">
                <div class="card-content">
                    <div>
                        <h5>Provide the details below :</h5>
                    </div>

                    <div class="form-group">
                        <label for="leave-reason">
                            <h6>Reason :</h6>
                        </label>
                        <textarea id="leave-reason" name="leaveReason" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn indigo m-b-xs">Send Request</button>
                </div>
            </div>
        </div>
    </form>



    <script>
        function myFunction22() {
            if (document.getElementById("selectval").value == "Casual Leave") {


                let x = document.forms["addemp"]["fromdate"].value;
                var date2 = new Date(x);
                var date = new Date;
                const diff = (Math.floor((date2 - date) / (1000 * 60 * 60 * 24)) + 1);
                nod = parseFloat(diff);





                if (nod <= -7) {
                    var overlay = document.createElement("div");
                    overlay.style.position = "fixed";
                    overlay.style.top = "0";
                    overlay.style.left = "0";
                    overlay.style.width = "100%";
                    overlay.style.height = "100%";
                    overlay.style.backgroundColor = "rgba(0, 0, 0, 0.5)"; // semi-transparent black overlay
                    document.body.appendChild(overlay);

                    var confirmMsg = "Oops! You cannot apply for leave for a past date that is more than 7 days old. Would you like to send a request to your Head of Department?";
                    var dialog = document.createElement("div");
                    var sendBtn = document.createElement("button");
                    sendBtn.innerHTML = "Yes";
                    sendBtn.classList.add("send-btn");
                    var noBtn = document.createElement("button");
                    noBtn.innerHTML = "No, cancel";
                    noBtn.classList.add("cancel-btn");
                    dialog.appendChild(document.createElement("br"));
                    dialog.appendChild(document.createTextNode(confirmMsg));
                    dialog.appendChild(document.createElement("br"));
                    dialog.appendChild(document.createElement("br"));
                    dialog.appendChild(sendBtn);
                    dialog.appendChild(noBtn);
                    dialog.style.position = "fixed";
                    dialog.style.zIndex = "9999";
                    dialog.style.top = "50%";
                    dialog.style.left = "50%";
                    dialog.style.transform = "translate(-50%, -50%)";
                    dialog.style.background = "white";
                    dialog.style.padding = "20px";
                    dialog.style.borderRadius = "10px";
                    dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.25)";
                    document.body.appendChild(dialog);

                    sendBtn.addEventListener("click", function () {
                        // Send request to apply for leave
                        var form = document.getElementById("unlockRForm");

                        document.getElementById("example-form").style.display = "none";

                        form.style.display = "block";

                        document.body.removeChild(dialog);
                        document.body.removeChild(overlay);
                    });

                    noBtn.addEventListener("click", function () {
                        document.body.removeChild(dialog);
                        document.body.removeChild(overlay);
                    });
                    return false;
                }
                else if (nod >= 14) {



                    alert("Sorry, you cannot apply for leave for the coming Days after 2 weeks.");
                    return false;
                }

            }



        }

    </script>


</main>