{{> loader}}
{{> header}}
{{> nav}}
<main class="mn-inner">
  <div class="row">
    <div class="page-title col s12" style="font-weight: bold; margin-left: 20%; ">Leave Details</div>
  </div>
  <div class="col s12 m12 l6 offset-l3">
    <div class="card" style="margin-left: 20%;">
      <div class="card-content">
        <div class="responsive-table">
          <table id="example" class="display">
            <tbody>
              <tr>
                <td><strong>Faculty Name:</strong></td>
                <td>{{leaves.name}}</td>
                <td><strong>Faculty Code:</strong></td>
                <td>{{leaves.id}}</td>
              </tr>
              <tr>
                <td><strong>Leave Type:</strong></td>
                <td>{{leaves.leavetype}}</td>
                <td><strong>Leave Dates:</strong></td>
                <td><strong>From :</strong> {{leaves.fromdate}}{{leaves.halfdaydate}}<br><strong>To &emsp; :</strong> {{leaves.todate}}{{leaves.halfdaydate}}</td>
              </tr>
              <tr>
                <td><strong>Leave Description:</strong></td>
                <td colspan="3">{{leaves.description}}</td>
              </tr>
              <tr>
                <td><strong>Alternate Arrangement:</strong></td>
                <td colspan="3">{{#each leaves.finalarrangement}}{{this}}<br>{{/each}}</td>
              </tr>
              {{#if leaves.hodComment}}
              <tr>
                <td><strong>HOD Comment:</strong></td>
                <td colspan="3">{{leaves.hodComment}}</td>
              </tr>
              {{/if}}
              {{#if leaves.princiComment}}
              <tr>
                <td><strong>Principal Comment:</strong></td>
                <td colspan="3">{{leaves.princiComment}}</td>
              </tr>
              {{/if}}
              {{#if leaves.hrComment}}
              <tr>
                <td><strong>HR Comment:</strong></td>
                <td colspan="3">{{leaves.hrComment}}</td>
              </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>