{{> loader}}
{{> header}}
{{> nav}}


    
        <main class="mn-inner">
            <div class="row">

                <div class="page-title" style=" margin-left: 20%;   font-weight: bold;">Leave History</div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card" style="margin-left: 20%;">
                    <div class="card-content">
                         <table class="display responsive-table ">
                        <thead style="color: rgb(110, 110, 110);" >
                            <tr >
                                <th scope="col" >Faculty code</th>
                                <th scope="col" >Leave type</th>
                                <th scope="col" >From </th>
                                <th scope="col" >To </th>
                                <th scope="col" >No.of days</th>
                                <th scope="col" >Discription</th>
                                <th scope="col" >Status</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight:500 ;   color: rgb(110, 110, 110);">
                            <style>
                                tr:nth-child(even) {
                                    background-color: #f2f2f2;
                                }
                            </style>
                            {{#each leaves}}
                            <tr>
                                <th style="color: rgb(110, 110, 110);" >{{this.id}}</th>
                                <td>{{this.leavetype}}</td>
                                <td style="    font-size: 11px;  ">{{this.fromdate}}</td>
                                <td style="    font-size: 11px;  ">{{this.todate}}</td>
                                <td>{{this.nofdays}}</td>
                                <td style="    font-size: 11px;  ">{{this.description}}</td>
                                {{#if this.status }}
                                <td style="    font-size: 11px; color:blue; ">{{this.status}}<br><p style="color: red;">{{this.status3}}</p>{{this.status2}}<br><p style="color: red;">{{this.status5}}</p>{{this.status4}}</td>
                                
                                {{else if this.status1}}
                                <td style="    font-size: 11px; color:blue; "><p style="color: red;">{{this.status1}}</p></td>

                                {{else}}
                                <td style="color: orange;">Pending</td>
                                {{/if}}
                            </tr>
                            {{/each}}
                           
                        </tbody>
                    </table>


                        

                    </div>
                </div>



            </div>

</div>
</main>

</div>
<div class="left-sidebar-hover"></div>