{{> loader}}
{{> admin-header}}

<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="/assets/images/profile-image.png" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">

                <p></p>
                <span></span>


            </div>
        </div>

        <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">

            <li class="no-padding"><a class="waves-effect waves-grey" href="/users/update-profile/{{user._id}}"><i
                        class="material-icons">account_box</i>{{user.name}}</a></li>
            <li class="no-padding"><a class="waves-effect waves-grey" href="/users/changePassword"><i
                        class="material-icons">settings_input_svideo</i>Change Password</a></li>
            <li class="no-padding">
                <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>Leaves<i
                        class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <!-- <li><a href="/users/applyLeave">Apply Leave</a></li> -->


                        <li><a href="">Leave Request</a></li>

                        <!--  <li><a href="/users/leaveHistory/{{user.id}}">Leave History</a></li> -->
                    </ul>
                </div>
            </li>



            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/admin/signOut"><i class="material-icons">exit_to_app</i>Sign
                    Out</a>
            </li>


        </ul>
        <div class="footer">
            <p class="copyright"><a href="http://simat.ac.in/">SIMAT e-GOVERNANCE</a>©</p>

        </div>
    </div>
</aside>



    <main class="mn-inner">
        <div class="row">

            <div class="col s12 m12 l6">
                <div class="card" style="margin-left: 20%;">
                    <div class="card-content">
                        <table class="display responsive-table ">
                            <thead style="   color: rgb(110, 110, 110);">
                                <tr>
                                    <th scope="col">Faculty code</th>
                                    <th scope="col">Leave type</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Department</th>

                                    <th scope="col">From </th>
                                    <th scope="col">To </th>
                                    <th scope="col">Number of days</th>
                                    <th scope="col">Discription</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody style="font-weight:500 ;   color: rgb(110, 110, 110);">
                                <style>
                                    tr:nth-child(even) {
                                        background-color: #f2f2f2;
                                    }
                                </style>

                            {{#each leaves}}
                            {{#compare princiStatus true}}
                            <tr>
                                <th>{{this.id}}</th>
                                <td>{{this.leavetype}}</td>
                                <td>{{this.name}}</td>
                                <td style="text-transform: uppercase;">{{this.department}}</td>

                                <td style="    font-size: 11px;  ">{{this.fromdate}}</td>
                                <td style="    font-size: 11px;  ">{{this.todate}}</td>
                                <td>{{this.nofdays}}</td>
                                <td style="    font-size: 11px;  ">{{this.description}}</td>


                                {{#compare hrStatus true}}
                                <td style="    font-size: 11px; color:blue; ">HOD approved<br>Principal approved<br>HR approved </td>
                                
                                
                             {{else compare hrStatus false}}
                                <td style="    font-size: 11px; color:rgb(255, 0, 0); "><span style="color: blue;">HOD approved<br>Principal approved</span><br>Rejectyed by HR </td>
                                {{/compare}}
                           
                            {{#compare hrStatus undefined}}
                              <td style="    font-size: 11px; color:blue; ">HOD approved<br>Principal approved</td>
                                <td>
                                    <a  href="/admin/hr-leave-action/{{this._id}}/{{this.id}}" style="text-decoration: wavy;"><i class="i " > i </i></a>
                                        {{!--<a href="/admin/accept-hrLeave/{{this._id}}" class="btn btn-primary"
                                            style="font-size: 9px; padding: 0 1rem;">Accept </a>
                                        <a href="/admin/reject-hrLeave/{{this._id}}" class="btn btn-primary"
                                            style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject </a>--}}
                                    </td>
                                {{/compare}}
                            {{/compare}}
                            {{/each}}
                              
                              
                              {{!--  {{#each leaves}}
                                {{#if this.status2}}
                                <tr>
                                    <th>{{this.id}}</th>
                                    <td>{{this.leavetype}}</td>
                                    <td>{{this.name}}</td>
                                    <td style="text-transform: uppercase;">{{this.department}}</td>

                                    <td style="    font-size: 11px;  ">{{this.fromdate}}</td>
                                    <td style="    font-size: 11px;  ">{{this.todate}}</td>
                                    <td>{{this.nofdays}}</td>
                                    <td style="    font-size: 11px;  ">{{this.description}}</td>


                                    {{#if this.status4 }}
                                    <td style="    font-size: 11px; color:blue; ">
                                        {{this.status}}<br>{{this.status2}}<br>{{this.status4}}<p
                                            style="color:rgb(255, 0, 0);">{{this.status5}}</p>
                                    </td>
                                    {{else if this.status5}}
                                    <td style="    font-size: 11px; color: blue; ">
                                        {{this.status}}<br>{{this.status2}}<br>
                                        <p style="color:rgb(255, 0, 0);">{{this.status5}}</p>
                                    </td>
                                    {{else }}
                                    <td style="    font-size: 11px; color:blue; ">{{this.status}}<br>{{this.status2}}
                                    </td>

                                    <td>
                                        <a href="/admin/accept-hrLeave/{{this._id}}" class="btn btn-primary"
                                            style="font-size: 9px; padding: 0 1rem;">Accept </a>
                                        <a href="/admin/reject-hrLeave/{{this._id}}" class="btn btn-primary"
                                            style="font-size: 9px; padding: 0 1rem; margin-top: 2px;">Reject </a>
                                    </td>
                                    {{/if}}



                                </tr>
                                {{/if}}
                                {{/each}}  --}}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </main>

