{{> loader}}
{{> admin-header}}

{{> hr-nav}}


<main class="mn-inner" style="margin-left: 20%;">
    
    <div class="row">
        <div class="col s12">

            <div class="col s12">
                <div class="card">
                    <div class="card-content ">

                        <h6 class="center-align" style="color: #676767; font-weight: bold;">LEAVE SUMMARY
                        </h6><br>

                        <div class="col s6">
                            <form class="form-inline">

                            <div class="column">
                                <p style="font-weight: bold; color: rgb(110, 110, 110);">Year:</p>
                                
                            </div>
                            <div class="column" style="width: 50px; margin-left: 10px; margin-top: 20px; font-weight: bold; color: rgb(110, 110, 110);;">
                                <select id="yearpicker" name="year" onchange="updatechart()" ></select>
                            </div>
                             
                            </form>
                            <div style="display: flex; flex-direction: column; align-items: flex-start; padding-top: 20px; color: rgb(110, 110, 110);;">
                                <table>
                                   
                                    <tr>
                                        <th></th>
                                        <th>Casual Leaves</th>
                                        <th>Duty Leaves</th>
                                    </tr>
                                    <tr>
                                        <th>CSE</th>
                                        <td>{{cseCL}}</td>
                                        <td>{{cseDL}}</td>
                                    </tr>
                                    <tr>
                                        <th>CE</th>
                                        <td>{{ceCL}}</td>
                                        <td>{{ceDL}}</td>
                                    </tr>
                                    <tr>
                                        <th>ME</th>
                                        <td>{{meCL}}</td>
                                        <td>{{meDL}}</td>
                                    </tr>
                                    <tr>
                                        <th>EEE</th>
                                        <td>{{eeeCL}}</td>
                                        <td>{{eeeDL}}</td>
                                    </tr>
                                    <tr>
                                        <th>ECE</th>
                                        <td>{{eceCL}}</td>
                                        <td>{{eceDL}}</td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>






                        <div class="col s6">



                            <div style="padding-top: 90px;">


                                <div>
                                    <canvas id="hr-summary-chart"></canvas>
                                </div>




                            </div>
                            <a type="hidden"  id="abtn"></a>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>

                            // Get current year
                            const currentYear = new Date().getFullYear();

                            // Create options for all years in the range
                            let options = '';
                            for (let year = 2020; year <= 2090; year++) {
                                
                                 
                                    options += `<option value="${year}">${year}</option>`;
                                
                            }

                            // Set options in select element
                            document.getElementById('yearpicker').innerHTML = options;


                            const yearpicker = document.getElementById("yearpicker");

                            yearpicker.value = {{year}};
                            const casualLeaves = {{ casualLeaves }};
                            const dutyLeaves = {{ dutyLeaves }};

                            const chartData = [
                                { label: 'Casual Leaves', value: casualLeaves },
                                { label: 'Duty Leaves', value: dutyLeaves }
                            ];


                            chart(chartData);
                            function chart(chartData) {

                                const ctx = document.getElementById('hr-summary-chart').getContext('2d');
                                const chart = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: {
                                        labels: chartData.map(d => d.label),
                                        datasets: [{
                                            data: chartData.map(d => d.value),
                                            backgroundColor: ['#007bff', '#dc3545'], // Customize the background colors
                                            hoverBackgroundColor: ['#007bff', '#dc3545'] // Customize the hover background colors
                                        }]
                                    },
                                    options: {
                                        responsive: true, // Make the chart responsive to screen size
                                        maintainAspectRatio: false, // Disable aspect ratio to allow custom sizing
                                        plugins: {
                                            legend: {
                                                position: 'right',
                                                labels: {
                                                    fontColor: 'white',
                                                    usePointStyle: true
                                                }
                                            }
                                        },
                                        tooltips: {
                                            backgroundColor: 'rgba(0, 0, 0, 0.8)', // Customize tooltip background color
                                            bodyFontColor: 'white' // Customize tooltip body font color
                                        }
                                    }
                                });
                            }
                            function updatechart() {
                                const selectedvalue = document.getElementById('yearpicker').value;
                                document.getElementById('abtn').setAttribute('href', selectedvalue );
                               document.getElementById('abtn').click();
                               
                                

                                
                            }


                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>